{{#author}}

<!--author-info-->
<div class="author-info clearfix">
    <div id="author-img">
        <figure class="at-img">
            <img src="{{image}}" alt="{{name}}">
        </figure>
    </div> <!--/#author-img-->

    <div id="author-details">
        <h3 class="author-name">{{name}}</h3>  
        {{#if bio}}
            <div class="authors-bio">
                <p>{{bio}}</p>
            </div>
        {{/if}}
       
        <footer class="clearfix" id="author-meta">
            <div class="post-count">
                <ul>
                    <li>
                        {{#is "author"}}
                            <b>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</b>
                        {{else}}
                            <b>{{location}}</b>
                        {{/is}}
                    </li>
                    <li>
                        <span>------</span>
                    </li>
                    <li>
                        <div class="authors-social">
                           <a href="{{twitter_url}}"><i class="fa fa-twitter"></i></a>
                            <a href="{{facebook_url}}"><i class="fa fa-facebook"></i></a>
                        </div><!--/.author social-->
                    </li>
                </ul>
            </div><!--/.post-count--> 
        </footer>  <!--/#author-meta --> 
    </div> <!--/#author-details-->               
</div> <!--/.author-info-->
{{/author}}

