<div class="preloader hidden" id="preloader">
    <div class="preloader-logo">
        {{#if @blog.logo}}
            <img class="img-responsive" src="{{@blog.logo}}" alt="{{@blog.title}}" />
        {{else}}
            <img class="img-responsive" src="{{asset "images/logo.png"}}" alt="{{@blog.title}}" />
        {{/if}}
    </div> <!-- /.preloader-logo -->
    <div class="loader">
        <script type="text/javascript">
            if (typeof(Pre_Loader) != "undefined") {
                var preloader_animated_icon = Pre_Loader['animation_icon'];
                if ( preloader_animated_icon == 1 ) {
                    var animated_icon =  "fa-spinner fa-pulse";
                } else if ( preloader_animated_icon == 2 ) {
                    var animated_icon = "fa-spinner fa-spin";
                } else if ( preloader_animated_icon == 3 ) {
                    var animated_icon = "fa-circle-o-notch fa-spin";
                } else if ( preloader_animated_icon == 4 ) {
                    var animated_icon = "fa-refresh fa-spin";
                } else if ( preloader_animated_icon == 5 ) {
                    var animated_icon = "fa-cog fa-spin";
                } else {
                    var animated_icon = "";
                }
            } else {
                var animated_icon = "";
            }
            
            document.write('<i class="fa '+animated_icon+'"></i>');
        </script>
    </div>  <!-- /.loader -->
</div> <!-- /.preloader -->

<script type="text/javascript">
    var preloader = getUrlParameter('preloader');
    if ( preloader == "on" ) {
        document.getElementById("preloader").classList.remove("hidden");
    } else {
        if (typeof(Pre_Loader) != "undefined") {
            if ( Pre_Loader['show'] == true ) {
               document.getElementById("preloader").classList.remove("hidden");
            }
        }
    }
</script>

<!--Header    
================================================-->
<header id="masthead" class="site-header">
    <!-- Header Top Part -->
    <div id="header-top" class="hidden">
        <div class="container">
            <div class="row">
                <div class="header-top clearfix">
                    <div class="col-md-10 col-sm-9">
                        <div class="header-top-menu"></div>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <div class="header-search">
                            <div class="search default">
                                <form method="get" action="#" class="searchform">
                                    <div class="input-group">
                                        <input readonly="readonly" type="search" placeholder="Search Here..." class="form-controller" name="s" data-toggle="modal" data-target=".bs-search-modal-md">
                                        <span class="input-group-btn">
                                            <button type="button" data-toggle="modal" data-target=".bs-search-modal-md" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div> <!-- /.search -->
                            <div class="search-area">
                                <div class="modal fade-in bs-search-modal-md" tabindex="-1">
                                    <div class="modal-dialog modal-md">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Search Result</h4>
                                            </div> <!-- /.modal-header --> 
                                            <div class="modal-body">
                                                <form method="get" action="#" class="searchform">
                                                    <div class="input-group">
                                                        <input type="search" placeholder="Search Here..." class="form-control heading-search" name="s">
                                                        <span class="input-group-btn">
                                                            <button id="submit-btns" type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                               <div class="heading-search-result"></div>
                                            </div> <!-- /.modal-body --> 
                                        </div> <!-- /.modal-content -->
                                    </div> <!-- /.modal-dialog -->
                                </div> <!-- /.modal -->
                            </div> <!-- /.news-letter -->
                        </div> <!-- /.header-search -->
                    </div><!--/.header search-->
                </div><!--/.header-top-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/#header top part-->
    
    <!-- Header Middle Part -->
    <div id="header-middle">  
        <div class="container">
            <div class="row"> 
                <div class="col-md-12">                      
                    <div class="header-middle-wrapper clearfix"> 
                        <!--Site Logo-->
                        <div class="site-logo text-center">     
                            <div class="tb">                       
                                <div class="tb-cell"> 
                                    <a href="{{@blog.url}}" id="site-logo-main">
                                        {{#if @blog.logo}}
                                            <img src="{{@blog.logo}}" alt="{{@blog.name}}">
                                        {{else}}
                                            <img src="{{asset "images/logo.png"}}" alt="{{@blog.name}}">
                                        {{/if}}
                                    </a> 
                                </div> 
                            </div> 
                        </div> <!--/.site logo--> 
                        
                        <!--Header Social-->
                        <div class="header-social hidden">
                            <div class="social-link"></div>
                        </div><!--/.header social-->
                        
                        <!--Header Subscribe--> 
                        <div class="header-subscribe hidden">
                            <div class="rotate">
                                <span class="cat-links">                             
                                    <a href="#" data-toggle = "modal" data-target= "#Modal">Subscribe</a>
                                </span>
                            </div><!--/.rotate--> 
                            
                            <!-- Modal -->
                            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" 
                               aria-labelledby="myModalLabel" aria-hidden="true">
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                              <i class="fa fa-times"></i>
                                        </button>

                                        <h4 class="modal-title" id="myModalLabel">Newsletter</h4>
                                     </div>
                                     <div class="modal-body">                                     
                                         <form class="newsletter" id="newsletter-form">
                                            <div class="input-group">
                                                <input type="email" placeholder="Enter Your Email" class="form-control" name="EMAIL" id="email">
                                                <span class="input-group-btn">
                                                    <button id="mc-embedded-subscribe" type="submit" class="btn btn-default mail-chip-button">Send</button>
                                                </span>
                                            </div>
                                         </form><!--/.newsletter-->
                                     </div>
                                  </div><!--/.modal-content-->
                               </div><!--/.modal-dialog-->
                            </div><!--/.modal-->
                        </div><!--/.header subscribe-->   
                    </div> <!--/.header middle wrapper-->                              
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/#header middle-->
    
    <!--Header Bottom Part-->
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-share">   
                        <a data-target=".bs-social-modal-md" data-toggle="modal" class="newsletter-button" href="#"><i class="fa fa-share-alt"></i></a> 
                        <div tabindex="-1" class="modal fade bs-social-modal-md">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title">Our Social Profile</h4>
                                    </div> <!-- /.modal-header --> 
                                    <div class="modal-body">
                                        <div id="social-container"></div>
                                    </div> <!-- /.modal-body --> 
                                </div> <!-- /.modal-content -->
                            </div> <!-- /.modal-dialog -->
                        </div> <!-- /.modal -->  
                    </div> 

                    <!--Site Navigation-->
                    <nav id="site-nav" class="site-navigation">
                        <div class="menu-wrapper">
                            <script>
                                if (typeof(dynamic_ghost_nav) != "undefined") {
                                 if ( dynamic_ghost_nav === true  ) {
                                        document.write('{{navigation}}');
                                    } else {
                                        document.write('{{> "navigation-custom"}}');
                                    }
                                } else {
                                    document.write('{{navigation}}');
                                }
                            </script>
                        </div><!--/.menu wrapper--> 
                    </nav> <!--/.site nav-->
                    

                    <!-- Mobile Main Menu -->
                    <div class="mobile-menu-main">
                        <div class="menucontent overlaybg"></div>
                        <div class="menuexpandermain slideRight">
                            <a class="animated-arrow slideLeft" id="navtoggole-main">
                                <span></span>
                            </a>
                            <span id="menu-marker"></span>
                        </div>
                        <div id="mobile-menu">
                            <nav class="top-menu slideLeft clearfix">
                                <div class="menu-wrapper">
                                    <div class="row" id="mobile-menu-wrap"></div>       
                                </div> <!-- /.menu-wrapper -->
                            </nav> <!-- /.menu  -->
                        </div> <!-- /.#mobile menu -->
                    </div> <!-- /.mobile-menu-main -->

                    <div class="mobile-newslatter">
                        <div class="header-subscribe">
                            <div class="rotate">
                                <span class="cat-links">                             
                                    <a data-target="#Modal" data-toggle="modal" href="#"><span>Subscribe</span></a>
                                </span>
                            </div><!--/.rotate-->
                        </div>
                    </div>
                </div><!--/.col-md-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/#header bottom -->
</header><!--/.site header-->