<div class="col-md-4 col-sm-6 single-post grid">                        
    <article class="post">
        <figure class="post-thumb">
            <a href="{{url}}">
                {{#if image}}
                    <img src="{{image}}" alt="{{title}}">
                {{else}}
                    <img src="/assets/images/no-thumb/layout-seven.jpg" alt="{{title}}">
                {{/if}} 
            </a> 
        </figure><!--/.post thumb-->
        <div class="post-details">                                   
            <h2 class="entry-title">
                <a href="{{url}}">{{title}}</a>
            </h2><!--/.entry title--> 
            <div class="entry-meta">
                <span class="entry-date">
                    <a href="{{url}}"><i class="fa fa-clock-o"></i>{{date format="DD MMMM YYYY"}}</a>
                </span>
                <span class="entry-share">
                    {{author}}
                </span>
                <span class="entry-comment">
                    <a class="comments-link" href="{{url}}#disqus_thread">0 Comments</a>
                </span>
            </div><!--/.meta-->
            
            <div class="heading-slash">
                 <span class="slash">\\\\////</span>
            </div><!--/.entry subtitle-->
            <div class="entry-content">
                {{content words="50"}}
            </div><!--/.entry content-->
        </div><!--/.post details-->
    </article><!--/.post--> 
</div><!--/.single post-->