<div class="row single-post post-style-three">
    <!--post-->
    <article class="{{post_class}}"> 
        <div class="post-media">                       
            <div class="col-md-7 col-sm-6 style-three-image"> 
                <figure class="post-thumb post-thumb-img">  
                    {{#if image}}
                        <img alt="{{title}}" class="img-responsive" src="{{image}}">
                    {{else}}
                        <img alt="{{title}}" class="img-responsive" src="/assets/images/no-thumb/layout-three.jpg">
                    {{/if}}
                </figure><!--/.post thumb-->
            </div><!--/.col-md-7-->
            <div class="col-md-5 col-sm-6 style-three-post">
                <div class="post-details text-center">
                    <div class="entry">
                        <h2 class="entry-title">
                            <a href="{{url}}">{{title}}</a>
                        </h2><!--/.entry title--> 
                        <div class="heading-slash">
                             <span class="slash">\\\\////</span>
                        </div><!--/.entry subtitle-->
                        <div class="entry-content">
                            {{content words="50"}}
                            <p>
                                <a class="more-link" href="{{url}}">
                                    Continue Reading
                                     <i class="fa fa-long-arrow-right"></i>
                                </a>   
                            </p><!--/.more link-->
                        </div><!--/.entry content--> 
                    </div><!--/.entry-->
                </div><!--/.post details-->
            </div><!--/.col-md-5--> 
            {{#if tags}}   
            <div class="rotate">
                <span class="cat-links">
                    {{tags limit="1"}}
                </span>                                            
            </div><!--/.rotate-->
            {{/if}}
        </div><!--/.post media-->                              
    </article><!--/.post-->  
</div><!--/.single post--> 