<article class="{{post_class}} hentry post-style-four">
    <div class="row">
        <div class="post-media">    
            <div class="col-md-6 col-sm-6 style-four-image">
                <div class="post-thumb-content">
                    <div class="entry-meta">
                        <span class="entry-date">
                            <a href="{{url}}">
                                <i class="fa fa-clock-o"></i>
                                {{date format="DD MMMM YYYY"}}
                            </a>
                        </span>
                    </div><!--/.meta-->
                    <figure class="post-thumb">
                        <a href="{{url}}">
                            {{#if image}}
                                <img src="{{image}}" alt="{{title}}">
                            {{else}}
                                <img src="/assets/images/no-thumb/layout-four.jpg" alt="{{title}}">
                            {{/if}}
                        </a>
                    </figure><!--/.post thumb-->
                    {{#if tags}}   
                    <div class="rotate">
                        <span class="cat-links">
                            {{tags limit="1"}}
                        </span>                                            
                    </div><!--/.rotate-->
                    {{/if}}
                </div><!--/.post thumb content-->
            </div><!--/.col-md-6-->
            <div class="col-md-6 col-sm-6 style-four-post">
                <div class="post-details">
                    <h2 class="entry-title">
                        <a href="{{url}}" rel="bookmark">{{title}}</a>
                    </h2><!--/.entry title--> 
                    <div class="entry-content">
                        {{content words="50"}}
                        <div class="post-readmore">
                            <p>
                                <a class="more-link" href="{{url}}">
                                    Continue Reading
                                    <i class="fa fa-long-arrow-right"></i>
                                </a>        
                            </p>
                        </div><!--/.post readmore-->
                    </div><!--/.entry content-->
                </div><!--/.post details-->
            </div><!--/.col-md-6-->
        </div><!--/.post media-->
    </div><!--/.row-->
</article><!--/.post--> 