<ul class="menu-list">\
	<li><a href="{{@blog.url}}/">Home</a>\
		<ul class="menu-submenu">\
			<li><a href="/?post_style=1">Home-One</a></li>\
			<li><a href="/?post_style=2">Home-Two</a></li>\
			<li><a href="/?post_style=3">Home-Three</a></li>\
			<li><a href="/?post_style=4">Home-Four</a></li>\
			<li><a href="/?post_style=5">Home-Five</a></li>\
		</ul>\
	</li>\
	<li><a href="javascript:void(0)">Features</a>\
		<ul class="menu-submenu">\
			<li><a href="javascript:void(0)">Home post variation</a>\
				<ul class="menu-submenu">\
					<li><a href="/?post_style=1">One</a></li>\
					<li><a href="/?post_style=2">Two</a></li>\
					<li><a href="/?post_style=3">Three</a></li>\
					<li><a href="/?post_style=4">Four</a></li>\
					<li><a href="/?post_style=5">Five</a></li>\
				</ul>\
			</li>\
			<li><a href="javascript:void(0)">Sticky Slider</a>\
				<ul class="menu-submenu">\
					<li><a href="{{@blog.url}}/?hide_sticky=1">Hide Sticky Slider</a></li>\
					<li><a href="{{@blog.url}}/?sticky_post_style=1">Slider Style One</a></li>\
					<li><a href="{{@blog.url}}/?sticky_post_style=2">Slider Style Two</a></li>\
				</ul>\
			</li>\
			<li><a href="{{@blog.url}}/?preloader=on">Preloader</a></li>\
			<li><a href="javascript:void(0)">Custom Pages</a>\
				<ul class="menu-submenu">\
					<li><a href="{{@blog.url}}/about">About Me</a></li>\
					<li><a href="{{@blog.url}}/contact">Contact Us</a></li>\
					<li><a href="{{@blog.url}}/404">404</a></li>\
				</ul>\
			</li>\
		</ul>\
	</li>\
	<li><a href="{{@blog.url}}/author/ghostexpert/">Author Archive</a></li>\
	<li><a href="{{@blog.url}}/tag/sticky">Tag Archive</a></li>\
	<li><a href="{{@blog.url}}/about">About Me</a></li>\
	<li><a href="{{@blog.url}}/contact">Contact Us</a></li>\
	<li><a href="{{@blog.url}}/404">404</a></li>\
</ul>